 @font-face {
    font-family: 'JetBrainsMono';
    src: url("Fuentes/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
} 

@font-face {
    font-family: 'JetBrainsMonoExtraLight';
    src: url("Fuentes/JetBrains_Mono/static/JetBrainsMono-ExtraLight.ttf");
} 

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    overflow: auto;
    background-color: #100c0c;
    z-index: 0;   
}


.presentation{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #100c0c;
    z-index: 5;
    display: grid;
    place-items: center;
    transition: opacity 2s ease; 
}

#presentation_text{
    margin-top: 1%;

}

#_content{
    display: none;
    opacity: 0;
    transition: opacity 1s ease; 
}

.content{
    position: absolute;
    inset: 0;
    margin: 2%;
    display: block;
}

.galaxy{
    width: 100%;
    height: 100%;
    border: solid 1px #ffff;
    object-fit: cover;
    z-index: 1;
} 

.resume{
    position: absolute;
    display: flex;
    bottom: 3%;
    right: 3%;
    width: 135px;
    font-size: 15px;
    line-height: 22px;
    z-index: 3;
} 

.circuloBlanco{
    width: 15px;
    height: 15px;
}

.text{
    color: #ffff;
    font-family: 'JetBrainsMonoExtraLight';
    z-index: 3;
}

.textNegro{
    display: block;
    color: white;
    font-family: 'JetBrainsMonoExtraLight';
    z-index: 3;
    background-color: #000000;
}

.header{
    position: absolute;
    top: 0;
    display: flex;
    width: 40%;
}

#joseangel{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 60px;
}

#sftDev{
    position:absolute;
    top: 130px;
    left: 50px;
    font-size: 16px;
}


.navigation{
    position: absolute;
    top: 200px;
    left: 50px;
    z-index: 3;
}

.menu{
    list-style-type: none;
}

li{
    margin: 40px 0;
    transition: 0.5s;
    font-size: 15px;
}

li:hover{
    opacity: 0.4;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #ffff;
}


 .marco-proyectos{
    position: absolute;
    top: 11%;
    left: 53.5%;
    width: 45%;
    height: 84%;
    z-index: 3;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
} 


.proyecto{
    position: absolute;
    top: 50px;
    left:200px;
    list-style-type:none;
}

.date{
    font-size: 20px;
}

.item{
    margin-bottom: 65px;
    display: flex;
    margin-right: 0;
    font-size: 435%;
}

.preview{
    display: none;
    position: absolute;
    left: 30%;
    top: 11%;
    width: 27%;
    height: auto;
    padding: 25px 25px;
    background-color: #080c14;
    border-radius: 15px;
    align-items: center;
    white-space: normal;
    
    z-index: 8;
    box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 3s;
}

.vidPreview{
    width: 100%;
    height: 600px;
    background-color: #080c14 ;
}

#tituloProyecto{
    margin-bottom: 10px;
}

#descripcion{
    margin-top: 10px;
    margin-left: 10px;
    bottom: 10px;
}

.type{
    position: absolute;
    left: 0;
    margin-top: 110px;
    margin-left: 10px;
    font-size: 20px;
}

#CalculateYourAgeInMinutesType{
    margin-top: 225px;
}

#minWorkout{
    width: 900px;
}

#ageInMin{
    width: 80%;
}

.card{
    position: absolute;
    width: 300px;
    height: 150px;
    right: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rbga(0, 0, 0, 0.1);
    background-color: #000000;
    padding: 30px;
    font-size: 20px;
    z-index: 10;
    display: flex;
    overflow: hidden;
}


.barraProgreso{
    position: absolute;
    top: 100px;
    background-color: green;
    border: 3px solid white;
    border-radius: 5px;
}

.barraProgreso::-webkit-progress-bar{
    border-radius: 5px;
}

.porcentaje{
    position: absolute;
    top: 100px;
    right: 50px;
}

#card1{
    right: 250px;
    top: 200px;
    width: 320px;
    
}

#card2{
    right: 500px;
    top: 450px;
    height: 150px;
    width: 320px;
}

#card3{
    right: 800px;
    top: 700px;
    height: 100px;
}

#nombreTitulo2{
    position: absolute;
    top: 15px;
}

#nombreTitulo3{
    display: flex;
    height: 20px;
    top: 5px;
}

#barraProgreso3{
    position: absolute;
    width: 150px;
    margin-top: 30px;
    background-color: green;
    border: 3px solid white;
    border-radius: 5px;
}

#porcentaje3{
    position: absolute;
    margin-top: 30px;
    right: 65px;
}

.contact{
    position: absolute;
    width: 40px;
    right: 880px;
    top: 500px;
    display: block;
    z-index: 6;
}

.links{
    position: absolute;
    color: #000000;
    font-size: 20px;
}

#link2{
    top: 40px;
}

#link3{
    top: 80px;
}

#notificacionEmail{
    position: absolute;
    display: none;
    left: 900px;
    top: 500px;
    width: 500px;
    height: 50px;
    z-index: 6;
    background-color: #080c14;
    border-radius: 15px;
    opacity: 0;
    transition: 3s ease;
}

#textoCopiado{
    position: absolute;
    top: 10px;
    left: 25px;
    padding: 5px;
}

